.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1024px;
    margin: 0 auto;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    grid-gap: 32px;

    & > div:first-child {
        flex: 1;
    }
}

h4 {
    margin-bottom: 16px;
}
