.box {
    // background: #444;
    // color: #EEE;
    padding: 16px;
    // border-radius: 2px;
    // border: 1px solid #222;
    margin: 16px 0;

    &__content {
        // border-top: 1px solid #222;
        padding: 16px;
    }
}
